@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

$font: 'Montserrat', sans-serif;
$fontColor: #2f2f2f;

.product-container{
    width: 50vw;
    margin-left: 25vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    font-family: $font;
}

.details-container {
    width: 300px;
    margin-left: 7px;
}

.image {
    width: 300px;
    height: 300px;
}

.prod-name {
    font-size: 1.5rem;
}

.prod-price {
    text-align: left;
    color: $fontColor;
}

.prod-desc {
    width: 50vw;
    margin-left: 25vw;
    font-family: $font;
    color: $fontColor;
}
.qty-span {
    white-space: pre;
}

.input-quantity {
    width: 2em;
    text-align: center;
}