.product {
    width: 250px;
    margin-bottom:30px;
}

.image{
    height: 250px;
    width: 250px;
}

.link{
    text-decoration: none;
    color: #000000;
}

.prod-title {
    text-align: center;
    word-wrap: normal;
    // line-height: 0rem;

}

.price {
    @extend .prod-title;
    color: red;
}