// @import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

$font: 'Montserrat', sans-serif;
// $fontColor: #2f2f2f;
$fontColor: #7c6853;
$backgroundColor: #f4e6d5;


.top-bar {
    font-family: $font;
    background-color: #63513a;
    color: #ffffff;
    min-height: 30px;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
    align-content: stretch;
}

.top-element {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-decoration: none;
    border-right: solid 1px;
    color: #ffffff;
}

.nav{
    font-family: $font;
    color: $fontColor;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.logo {
    /* font-family: 'Permanent Marker', cursive; */
    // font-family: 'Carter One', cursive;
    // font-size: 35px;
    // color: #090932;
    // white-space: nowrap;
    padding-left: 10px;
    padding-bottom: 0px;
    
}

.main-nav {
    height: 60px;
    min-height: 30px;
}

.main-nav-element {
    font-size: 18px;
    color: $fontColor;
    padding-left: 20px;
    padding-right: 20px; 
    border-right: solid 1px;
    text-decoration: none;
    list-style-type: none;
    float: left;
    transition-duration: 0.5s;
}

.dropdown {
    @extend .main-nav-element;
    float: left;
    overflow: hidden;
}

.shop-sub-nav {
    display: none;
    position: absolute;
    // background-color: #f9f9f9;
    background-color: $backgroundColor;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.sub-nav-element {
    float: none;
    color: $fontColor;
    padding: 6px 16px 6px 0px;
    display: block;
    text-align: left;
    font-size: 18px;
    text-align: left;
}

.links{
    @extend .sub-nav-element;
    text-decoration: none;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.main-nav-element:hover {
    background-color: $backgroundColor;
    color: $fontColor;
  }
  
  /* Add a grey background to dropdown links on hover */
.sub-nav-element:hover {
    background-color: #63513a;
    color: #ffffff;
  }

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .shop-sub-nav {
    display: block;
  }
