@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

$font: 'Montserrat', sans-serif;
$fontColor: #2f2f2f;
$backgroundColor: #f4e6d5;

.checkout-container {
    font: $font;
    color: $fontColor;
    width: 90vw;
    // background-color: lightblue;
    display: flex;
    justify-content: space-around;
    margin-left:5vw;
}

.checkout-header {
    padding-left:65px;
}

.cust-details {
    border: solid 1px black;
    width: 50vw;
    padding-left: 10px;
    padding-bottom: 10px;
    // height: 20px;
}


.input-label {
    font-size: .75em;
    line-height: 0em;
}

.input-box {
    width: 80%;
    font-size: 1em;
}

.city-input-box {
    @extend .input-box;
    width: 10em;
}

.state-input-box {
    @extend .input-box;
    width: 10em;
}

.zip-input-box {
    @extend .input-box;
    width: 7em;
}

.order-summary-container {
    font-family: $font;
    color: $fontColor;
    border: solid 1px black;
    width: 30vw;
    padding-left: 10px;
    // padding-bottom: 10px;
}

.order-summary-table {
    border: solid 1px;
    border-collapse: collapse;
    padding: .5em;
    margin-bottom: .5em;
}

.summary-data {
    border: solid 1px;
    padding: .5em;
    text-align: right;

}