@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

$font: 'Montserrat', sans-serif;
$fontColor: #7c6853;

.container {
    height: 50vh;
    background-color: #ffffff;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
    align-content: stretch;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    font-family: $font;
}

.img-header {
    display:block;
    width: 100vw;
    max-height: 30vh;
}

.cat-text{
    //extended by .prod-links
    font-size: 24px;
    text-align: center;
    color: $fontColor;
}

.prod-links{
    @extend .cat-text;
    text-decoration: none;
    background-color: #ffffff;
}

.img-cat {
    width: 175px;
    height: 175px;
    transition: all .2s ease-in-out;}

.img-cat:hover{
    transform: scale(1.25);
}

.prod_links:hover {
    background-color: #ffffff;
}
