.container {
    height: 50vh;
    background-color: #ffffff;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
    align-content: stretch;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.cat-text{
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.prod-links{
    @extend .cat-text;
    text-decoration: none;
    background-color: #ffffff;
}

.img-cat {
    width: 175px;
    height: 175px;
}
.prod_links:hover {
    background-color: #ffffff;
}
